.formlog{
    margin: 5% 20% 3% 20%;
}

#accounttitle{
    margin-bottom: 3%;
}

.accountarea{
    margin: 4% auto 4% auto;
    display: flex;
    flex-wrap: wrap;
}

.accountcat{
    text-align: center;
}

.accordion{
    margin: 8% 3% 5% 3%;
}

.halert{
    margin: 8% 3% 5% 3%;
}

.body-box{
    background-color: rgba(240, 240, 240, 0.92);
    position: relative;
    padding: 2%;
    margin: auto;
}

.body-head-box{
    display: flex;
    flex-wrap: wrap;
}

.body-info-box{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(49, 26, 26);
    display: flex;
    flex-wrap: wrap;
}

#profil-pic{
    width: 100%;
}

.info-profil-img{
    display: flex;
    flex-wrap: wrap;
}

#msg-button{
    margin-top: 2%;
    width: 100%;
}

#profil-link{
    text-decoration: none;
    font-weight:bold; 
    Font-size: large;
    color: #0D6EFD;
    margin-left: 3%;
}

#little-profil-pic{
    width: 10%;
    margin: 2%;
    border-radius: 100%;
}
/* MEDIA QUERIES */  
.f100{
    flex-basis: 100%;
}
/* Téléphones */
@media (max-width: 767px) {
    .accountcat{flex-basis: 100%;}
    .body-box{ width: 95vw; }
}
/* Tablettes */
@media (min-width: 768px){
    .accountcat{flex: 1;}
    .accountcat:nth-child(2){
        border-left: solid 1px black;
        border-right: solid 1px black;
    } 
    .body-box{ width: 95vw;}
}
/* Ordinateurs */
@media (min-width: 1024px){
    .body-box{ 
        width: 80vw; 
        min-height: 75vh;
        display: grid;
        row-gap: 2%;
        grid-template-columns: 70% 30%;
        grid-template-rows: 25vh auto;
        align-items: start;
    }
    .body-head-box{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    .body-info-box{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    .info-profil-img{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }
}