.icon-admin-box{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.icon-admin-box .btn-admin:nth-of-type(1){
    margin-left: 1%;
}

.icon-admin{
    width: 1.5rem;
    object-fit: contain;
}

.btn-admin{
    border: none;
}