/* LISTE DES ANIMAUX DISPARUS */
.petlist{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(49, 26, 26);
    margin: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.filter{
    flex-basis: 20%;
    margin: 2% 0% 2% 2%;
    padding-right: 2%;
    border-right: solid 1px black;
}

.list{
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto 2% auto;
    justify-content: center;
}

.card-pet{
    margin: 1%;
    border: solid 1px rgba(0, 0, 0, 0.100);
    background-color: white;
}

.card-title{
    font-size: x-large;
    font-weight: bold;
}

.card-body{
    margin: 5%;
}

.img-pet{
    width: 100%;
    height: auto;
}

.line-lost{
    width: 75%;
    border: solid 1px #dc3545;
}

.line-found{
    width: 75%;
    border: solid 1px #198754;
}

.filter-item{
    background-color: #CCEBF1 !important;
}

/* MEDIA QUERIES */  
/* Téléphones */
@media (max-width: 767px) {
    .card-pet{
        margin-top: 3%;
        flex-basis: 45%;
    }
    #filterButton{
        background-color: #CCEBF1;
        flex-basis: 100%;
        margin: 2% 0% 2% 0%;
        padding: 3% 4% 3% 4%;
        border: none;
    }
    #filterButton:hover{
        box-shadow: 2px 1px 5px black;
    }
    .filter{
        display: none;
    }
    .list{
        flex-basis: 100%;
    }
}
/* Tablettes */
@media (min-width: 768px){
    .card-pet{
        flex-basis: 20%;
    }
    #filterButton{
        display: none;
    }
    .list{
        flex-basis: 78%;
    }
}
/* Ordinateurs */
@media (min-width: 1024px){
    .card-pet{
        flex-basis: 20%;
    }
    #filterButton{
        display: none;
    }
    .list{
        flex-basis: 78%;
    }
}