body{
    margin: 0;
    font-family: Arial, sans-serif;
}
/* BANNIERE */
.sitetop{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#logo{
    padding: 1%;
}

.boutonstop{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

#boutonlost{
    background-color: #dc3545;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    margin: auto 10% auto auto;
    padding: 2%;
    border-radius: 7px;
    border: none;
}

#boutonfound{
    background-color: #198754;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    margin: auto 25% auto auto;
    padding: 2%;
    border-radius: 7px;
    border: none;
}
/* MENU DU HAUT */
#menutop{
    background-color: #ff8c00;
}
/* ARTICLES */
.articleback{
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
}

.presentation{
    background-color: rgba(255, 255, 255, 0.920);
    display: flex;
}

.article{
    flex: 2;
    padding: 1%;
}

.gridcard{
    flex: 1;
    padding: 1%;
}
/* FOOTER */